<div class="form-wraper">
    <div class="form-container card">
      <div class="form-header">
        <h3 class="form-title">Register </h3>
      </div>
      <form class="clr-form" (ngSubmit)="register()"[formGroup]="registerForm">
      <div class="form-body">

        <mat-form-field class="justifier">
          <input matInput placeholder="Full Name" text="full name" formControlName="fullName" class="form-input">
          </mat-form-field>
  
          <mat-form-field class="justifier">
            <input matInput placeholder="Phone" text="phone" formControlName="phone" class="form-input">
            </mat-form-field>

        <mat-form-field class="justifier">
            <input matInput placeholder="Email" text="email" name="email" formControlName="email" (blur)="isEmailTaken($event)" class="form-input">
        </mat-form-field>
        <mat-error *ngIf="error">{{ error}}</mat-error>
        <mat-form-field class="justifier">
            <input matInput type="password" placeholder="Password" text="password" name="password" formControlName="password" class="form-input">
        </mat-form-field>
        <mat-form-field class="justifier">
          <input matInput type="password" placeholder="Retype password" text="password" name="retypePassword" formControlName="retypePassword" class="form-input">
      </mat-form-field>
      </div>
  
      <div class="form-footer">
          <button mat-raised-button class="btn custom-btn" type="submit"> 
              <mat-icon></mat-icon> Signup
          </button>
      </div>
      </form>
      <div class="additional-link">
        <a routerLink="/login">Already have an Account? <strong>Login</strong></a>
      </div>
    </div>
  </div>
