<mat-card>
  <mat-card-header>
    <mat-card-title>Last Account Transaction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>info</mat-icon>
        <h3 matLine>{{ lastTransaction.title }}</h3>
        <p matLine>
          <span class="text-caption">Transaction Title</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>today</mat-icon>
        <h3 matLine>
          {{ lastTransaction.transactionDate | date: 'MM/dd/yyyy @ hh:mm z' }}
        </h3>
        <p matLine>
          <span class="text-caption">Transaction Date</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>attach_money</mat-icon>
        <h3 matLine>
          {{ lastTransaction.amount | currency: 'USD':'symbol':'2.2-2' }}
        </h3>
        <p matLine>
          <span class="text-caption">Amount</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>
          {{ lastTransaction.transactionType === 'DEBIT' ? 'arrow_upward' : 'arrow_downward' }}
        </mat-icon>
        <h3 matLine>{{ lastTransaction.transactionType }}</h3>
        <p matLine>
          <span class="text-caption">Payment or Got Paid</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>payment</mat-icon>
        <h3 matLine>{{ lastTransaction.paymentType }}</h3>
        <p matLine>
          <span class="text-caption">How the Transaction was Paid</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Edit Transaction</button>
  </mat-card-actions>
</mat-card>
