<mat-card>
    <mat-card-header>
      <mat-card-title>
        {{title}} Category
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-error>{{ error}}</mat-error> 
        <form class="clr-form"(ngSubmit)="addCategory()"  [formGroup]="newCategoryFormGroup">

          <mat-form-field appearance="outline" class="full-width-input" color="primary">
            <mat-label>Insert into:</mat-label>
            <mat-select formControlName="categoryParent">
              <mat-option *ngFor="let c of dataSource" [value]="c.categoryId">
                {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field class="invisible">
                <input matInput formControlName="categoryId" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width-input" color="primary">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="newCategoryFormGroup.controls['name'].invalid">
            Name is required
          </mat-error>
        </mat-form-field>

        <section class="full-width-input give-me-some-space top margin-25">
           
          <button type="submit" mat-raised-button color="primary"style="margin-left: 20px;" [disabled]="newCategoryFormGroup.invalid">
            Save
          </button>
        </section>

        </form>
        </mat-card-content>
        </mat-card>
        

